<h2><%= @blog_post.title %></h2>
<h4> By <%= @blog_post.user.email %></h4>
<p><%= @blog_post.content %></p>
<% if user_signed_in? && current_user.id == @blog_post.user_id%>
  <%= link_to("Edit Blog Post", "/blog_posts/#{@blog_post.id}/edit") %>
  <%= link_to("Destroy Blog Post!", "/blog_posts/#{@blog_post.id}", method: :delete, data: {confirm: "Are you sure?"}) %>
<% end %>

<div id="comment-container">
  <% @blog_post.comments.each do |comment| %>
      <div class="comment">
         <h5>By <%= comment.user.email %></h5> 
         <p> <%= comment.content %></p>
         <% if user_signed_in? && current_user.id == comment.user_id%>
            <%= link_to("Wipe the Slate Clean", "/comments/#{comment.id}", method: :delete) %>
         <% end %>
      </div>
        
  <% end %>

</div>
  
  
<% if @new_comment.errors.any? %>
    <div id="error-explanation">
      <h2><%= pluralize(@new_comment.errors.count, "error") %> prevented this Blog Post from being saved:</h2>
      <ul> 
        <% @new_comment.errors.full_messages.each do |message|%>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<% if user_signed_in? %>
  <h4>Leave a Comment?</h4>

  <%= form_tag("/comments", method: :post) do %>
    
      <br>
      <textarea id="comment-box" name="content" placeholder="Leave a Comment"><%= @new_comment.content %></textarea>
      <br>
      <input type="hidden" id="blog-post-id" name="blog_post_id" value="<%= @blog_post.id %>">
      <input type="submit" id="comment-button" value="Leave Comment">
  <%end%>

  <%= link_to("Back to Main", "/blog_posts") %>
<% end %>