<h2><%= @blog_post.title %></h2>
<p><%= @blog_post.content %></p>
<%= link_to("Edit Blog Post", "/blog_posts/#{@blog_post.id}/edit") %>
<%= link_to("Destroy Blog Post!", "/blog_posts/#{@blog_post.id}", method: :delete, data: {confirm: "Are you sure?"}) %>


<% @blog_post.comments.each do |comment| %>
    <div>
       <h5> <%= comment.username %></h5> 
       <p> <%= comment.content %></p>
       <%= link_to("Wipe the Slate Clean", "/comments/#{comment.id}", method: :delete) %>
    </div>

<% end %>
<% if @new_comment.errors.any? %>
    <div id="error-explanation">
      <h2><%= pluralize(@new_comment.errors.count, "error") %> prevented this Blog Post from being saved:</h2>
      <ul> 
        <% @new_comment.errors.full_messages.each do |message|%>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<% if user_signed_in? %>
  <h4>Leave a Comment?</h4>

  <%= form_tag("/comments", method: :post) do %>
      <input type="text" name="username" value="<%= @new_comment.username %>" placeholder="Username">
      <br>
      <textarea name="content" placeholder="Leave a Comment"><%= @new_comment.content %></textarea>
      <br>
      <input type="hidden" name="blog_post_id" value="<%= @blog_post.id %>">
      <input type="submit" value="Leave Comment">
  <%end%>

  <%= link_to("Back to Main", "/blog_posts") %>
<% end %>